.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .user-form {
    width: 100%;
    max-width: 1000px;
    padding: 50px; 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .user-form h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .user-form .box {
    margin: 10px;
    padding: 10px;
  }
  
  .user-form .box input {
    width: 100%;
    padding: 10px; 
    font-size: 1.5rem; 
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .user-form p {
    font-size: 1.2rem; /* Increased font size */
    color: #666;
    margin: 15px 0;
  }
  
  .user-form p a {
    color: #ff6347;
    text-decoration: underline;
  }
  
  .user-form .btn {
    width: 100%;
    height: 50px;
    padding: 15px; /* Increased padding */
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem; /* Increased font size */
  }
  
  .user-form .btn:hover {
    background: #ff4500;
  }
  